body {
    background-image: url("../img/backgroundimage.jpg");
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    background-size: 100%;
}

#wrapper {
    width: 80%;
    margin: 0 auto;
}

.posts {
    text-align: left;
}

#content {
    background-color: rgb(255, 255, 255);
    border: 3px solid gray;
    float: left;
    font-family: sans-serif;
    padding: 10px 10px;
    text-align: left;
    width: 100%;
}

#menu {
    text-align: center;
    font-size: 100%;
}

#menu a:hover {
    background-color: #5c5a5af6;
    color: white;
}

#userbar {
    color: white;
    margin: auto;
    width: 90%;
    padding: 30px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table a {
    color: #000;
    text-decoration: none;
}

table a:hover {
    color: #373737;
    text-decoration: underline;
}

th {
    background-color: #4088f5;
    color: #F0F0F0;
}

td {
    padding: 10px;
}

.signInAndOut {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'Bowlby One SC', cursive;
    word-spacing: 5px;
    letter-spacing: 3px;
    color: white;
}

#footer {
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 600;
    font-size: 85%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

h3 {
    margin: 0;
    padding: 0;
}

.leftpart {
    width: 50%;
}

.rightpart {
    width: 30%;
}

.small {
    font-size: 75%;
    color: #373737;
}

.topic-post {
    height: 100px;
    overflow: auto;
}

.post-content {
    padding: 30px;
}

textarea {
    font-size: 18px;
}

.myButton {
    box-shadow: inset 0px 1px 3px 0px #91b8b3;
    background-color: #2f7ed8;
    border-radius: 5px;
    border: 1px solid #3195f1;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
    padding: 11px 23px;
    text-decoration: none;
}

.myButton:hover {
    background-color: #5c98f1;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    font-family: 'Oswald', sans-serif;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #186edf;
    color: white;
}

.topnav .icon {
    display: none;
}

.topnav-right {
    float: right;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .siteTitle {
        font-size: 30px;
        text-align: center;
    }
    body {
        background-image: none;
        background-color: gray;
    }
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav-right {
        float: left;
    }
}

.tableStyle {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 15px 10px -2px rgb(75, 148, 216);
}

.tableStyle thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.tableStyle th,
.tableStyle td {
    padding: 10px 15px;
}

tableStyle tbody tr {
    border-bottom: 1px solid #dddddd;
}

.tableStyle tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}